body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#story {
  margin: 20px;
  font-size: 18px;
}

.flower {
  display: inline-block;
  font-size: 22px;
  margin: 5px;
}
